.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #000000;
  height: 100vh;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
